Repository adobe/spectrum-web-components, pull requests merged in 2021-09, with the labels that each got.

#1760 docs: use alpha storybook for CEM and storysource support
  .gitignore
  .storybook/preview.js
  package.json
  packages/dialog/stories/dialog-wrapper.stories.ts
  packages/dialog/test/dialog-wrapper.test.ts
  patches/@custom-elements-manifest+analyzer+0.4.12.patch
  projects/story-decorator/src/StoryDecorator.ts
  yarn.lock
Labels: Documentation

#1773 fix: flappy Slider/Color Area tests
  packages/color-area/test/color-area.test.ts
  packages/slider/src/Slider.ts
  packages/slider/test/slider.test.ts
Labels: Component: Slider, Testing, Component: Color Area

#1603 [RFC] feat(table): add table pattern
  packages/table/.npmignore
  packages/table/README.md
  packages/table/package.json
  packages/table/sp-cell.ts
  packages/table/sp-head-cell.ts
  packages/table/sp-row.ts
  packages/table/sp-table.ts
  packages/table/src/Cell.ts
  packages/table/src/HeadCell.ts
  packages/table/src/Row.ts
  packages/table/src/Table.ts
  packages/table/src/index.ts
  packages/table/src/spectrum-config.js
  packages/table/src/spectrum-table.css
  packages/table/src/table.css
  packages/table/stories/table.stories.ts
  packages/table/test/benchmark/basic-test.ts
  packages/table/test/table.test.ts
  packages/table/tsconfig.json
Labels: Component: Table

#1800 chore: warn about slotting in a single sp-slider-handle
  packages/slider/slider-handle.md
Labels: Documentation
