Repository adobe/spectrum-web-components, pull requests merged in 2023-09, with the labels that each got.

#3539 build(tags): update tag to v6 and tag group to v4
  packages/overlay/overlay-trigger.md
  packages/tags/package.json
  packages/tags/src/spectrum-config.js
  packages/tags/src/spectrum-tag.css
  packages/tags/src/spectrum-tags.css
  tools/styles/tokens/express/global-vars.css
  tools/styles/tokens/spectrum/global-vars.css
  yarn.lock
Labels: ready-for-review

#3441 feat(table): migrate to core tokens
  .circleci/config.yml
  packages/table/README.md
  packages/table/package.json
  packages/table/src/Table.ts
  packages/table/src/TableCheckboxCell.ts
  packages/table/src/TableHeadCell.ts
  packages/table/src/spectrum-config.js
  packages/table/src/spectrum-table-body.css
  packages/table/src/spectrum-table-cell.css
  packages/table/src/spectrum-table-checkbox-cell.css
  packages/table/src/spectrum-table-head-cell.css
  packages/table/src/spectrum-table-head.css
  packages/table/src/spectrum-table-row.css
  packages/table/src/spectrum-table.css
  packages/table/src/table-body.css
  packages/table/src/table-cell.css
  packages/table/src/table-checkbox-cell.css
  packages/table/src/table-head-cell.css
  packages/table/src/table-row.css
  packages/table/stories/table-elements.stories.ts
  packages/table/test/helpers.ts
  packages/table/test/table-selects.test.ts
  packages/table/test/table.test.ts
  packages/table/test/virtualized-table-selects.test.ts
  packages/table/test/virtualized-table.test.ts
  scripts/spectrum-tokens.js
  yarn.lock
Labels: ready-for-review

#3507 feat(color-slider): migrate to core tokens
  .circleci/config.yml
  packages/color-handle/package.json
  packages/color-handle/src/color-handle.css
  packages/color-slider/package.json
  packages/color-slider/src/ColorSlider.ts
  packages/color-slider/src/color-slider.css
  packages/color-slider/src/spectrum-color-slider.css
  packages/color-slider/test/color-slider.test.ts
  yarn.lock
Labels: Component: Color slider, ready-for-review

#3514 chore(meter): Core token migration
  .circleci/config.yml
  packages/meter/README.md
  packages/meter/package.json
  packages/meter/src/Meter.ts
  packages/meter/src/spectrum-config.js
  packages/meter/src/spectrum-meter.css
  packages/meter/stories/meter.stories.ts
  packages/meter/test/meter.test.ts
  packages/progress-bar/package.json
  yarn.lock
Labels: Component: Meter, ready-for-review, core-token-migration

#3638 bug(number-field): update number-field value on pressing "enter"
  packages/number-field/src/NumberField.ts
  packages/number-field/test/number-field.test.ts
Labels: Component: Slider, a11y, ready-for-review

#3673 fix(number-field): negative numbers handled
  packages/number-field/src/NumberField.ts
  packages/number-field/test/number-field.test.ts
Labels: bug, Component: Number Field, ready-for-review
