Repository adobe/spectrum-web-components, pull requests merged in 2023-07, with the labels that each got.

#3294 fix(action-menu): [Bug][a11y]: ActionMenu implementation includes incorrect aria-* attributes #3259
  packages/action-button/src/ActionButton.ts
  packages/action-button/test/action-button.test.ts
  packages/action-menu/src/ActionMenu.ts
  packages/action-menu/test/index.ts
  packages/picker/src/Picker.ts
  packages/split-button/src/SplitButton.ts
  packages/split-button/test/index.ts
Labels: bug, Component: Action Menu, Component: Picker, Component: Action Button, a11y

#3304 fix(color-slider): sp-color-slider fails to announce new value on change after keydown #3303
  packages/color-slider/src/ColorSlider.ts
  packages/color-slider/test/color-slider.test.ts
Labels: bug, a11y, Component: Color slider

#3319 fix(color-wheel): should reorient with dir="rtl" #3317
  .circleci/config.yml
  packages/color-wheel/src/ColorWheel.ts
  packages/color-wheel/src/color-wheel.css
  packages/color-wheel/test/color-wheel.test.ts
Labels: bug, a11y, Component: Color Wheel, I18n

#3459 chore(meter): added role="meter progressbar" in meter component
  packages/meter/src/Meter.ts
Labels: a11y, Component: Meter

#3455 bugfix(swatch): updated mixed swatch documentation
  packages/swatch/README.md
Labels: bug, a11y, Component: Swatch, Component: Swatch Group

#3452 fix(textfield): textarea-issue-3432
  packages/textfield/src/textfield.css
Labels: bug, Component: Textfield

#3489 fix(grid): added lit dependency
  tools/grid/package.json
Labels: bug, dependencies

#3410 fix(tabs): allow bi-directional arrow key navigation in both orientations
  packages/tabs/src/Tabs.ts
  packages/tabs/test/tabs.test.ts
Labels: bug, a11y

#3460 fix(swatch): warn when mixed-value used with selects !== 'multiple'
  packages/swatch/src/SwatchGroup.ts
  packages/swatch/stories/swatch-group.stories.ts
  packages/swatch/stories/swatch-sizes.stories.ts
  packages/swatch/stories/swatch.stories.ts
  packages/swatch/test/swatch-group.test.ts
  packages/swatch/test/swatch.test.ts
Labels: a11y, Component: Swatch, Component: Swatch Group, in-review

#3425 chore: pr update from main branch
  .github/workflows/pr-update.yml
Labels: enhancement, Tooling, in-review

#3485 chore: new contributing guidelines
  CONTRIBUTING.md
Labels: Documentation, in-review
