Repository adobe/spectrum-web-components, pull requests merged in 2023-11, with the labels that each got.

#3716 chore(button): CSS for icon-only attribute
  .circleci/config.yml
  packages/button/README.md
  packages/button/src/spectrum-button.css
  packages/button/src/spectrum-config.js
  packages/button/stories/button-accent-fill.stories.ts
  packages/button/stories/button-accent-outline.stories.ts
  packages/button/stories/button-black-fill.stories.ts
  packages/button/stories/button-black-outline.stories.ts
  packages/button/stories/button-negative-fill.stories.ts
  packages/button/stories/button-negative-outline.stories.ts
  packages/button/stories/button-primary-fill.stories.ts
  packages/button/stories/button-primary-outline.stories.ts
  packages/button/stories/button-secondary-fill.stories.ts
  packages/button/stories/button-secondary-outline.stories.ts
  packages/button/stories/button-white-fill.stories.ts
  packages/button/stories/button-white-outline.stories.ts
  packages/button/stories/index.ts
  packages/button/test/button.test.ts
Labels: enhancement, Component: Button

#3797 chore: custom Spectrum CSS dependabot settings
  .github/dependabot.yml
Labels: Tooling, Spectrum CSS, ready-for-review

#3806 [URGENT] chore(dropzone): dropzone pointer events fix
  .circleci/config.yml
  packages/dropzone/package.json
  packages/dropzone/src/spectrum-dropzone.css
  packages/field-label/src/spectrum-field-label.css
  packages/illustrated-message/package.json
  packages/illustrated-message/src/spectrum-illustratedmessage.css
  yarn.lock
Labels: Component: Dropzone, Spectrum CSS Bug
