Repository adobe/spectrum-web-components, pull requests merged in 2023-06, with the labels that each got.

#3290 Removed usage of id in accordion css file
  packages/accordion/src/accordion-item.css
Labels: bug, Component: Accordion

#3283 fix(color-slider,color-wheel): fail to render focused style when first receiving focus #3278
  packages/color-slider/src/ColorSlider.ts
  packages/color-slider/test/color-slider.test.ts
  packages/color-wheel/src/ColorWheel.ts
  packages/color-wheel/test/color-wheel.test.ts
Labels: bug, a11y, Component: Color slider, Component: Color Wheel

#3355 chore(radio): fix radio documentation usage of sp-field-label[for] and sp-radio-group[id] #3351
  packages/radio/README.md
Labels: a11y, Documentation, Component: Radio

#3330 fix(swatch): mixed-value state must be conveyed to screen readers using ARIA
  packages/swatch/README.md
  packages/swatch/src/Swatch.ts
  packages/swatch/test/swatch.test.ts
Labels: bug, a11y, Component: Swatch
