Repository adobe/spectrum-web-components, pull requests merged in 2023-12, with the labels that each got.

#3835 chore(picker): fix for overlaid picker in mobile
  packages/picker/src/Picker.ts
  packages/picker/stories/picker.stories.ts
Labels: bug, Priority, Component: Overlay, Component: Picker

#3860 chore(slider): slider handle alignment fix
  .circleci/config.yml
  packages/slider/src/HandleController.ts
  packages/slider/src/Slider.ts
  packages/slider/src/spectrum-config.js
  packages/slider/src/spectrum-slider.css
Labels: bug, Component: Slider, Visual Bug, Spectrum CSS

#3859 bug(checkbox): added missing readonly prop value
  .circleci/config.yml
  packages/checkbox/package.json
  packages/checkbox/src/CheckboxMixin.ts
  packages/checkbox/src/spectrum-checkbox.css
  packages/checkbox/test/checkbox.test.ts
  yarn.lock
Labels: bug, Component: Checkbox

#3747 added overlay story - context menu using declarative api
  packages/overlay/stories/overlay.stories.ts
Labels: Component: Overlay
