Repository adobe/spectrum-web-components, pull requests merged in 2023-08, with the labels that each got.

#3416 feat(opacity-checkerboard): adding new component
  .stylelintrc.json
  projects/documentation/src/components/styles.css
  tools/opacity-checkerboard/README.md
  tools/opacity-checkerboard/exports.json
  tools/opacity-checkerboard/package.json
  tools/opacity-checkerboard/src/opacity-checkerboard.css
  tools/opacity-checkerboard/src/spectrum-config.js
  tools/opacity-checkerboard/src/spectrum-opacity-checkerboard.css
  tools/opacity-checkerboard/tsconfig.json
  tsconfig-all.json
  yarn.lock
Labels: Tooling, ready-for-review

#3554 chore(toast): added FocusVisiblePolyfillMixin in sp-toast
  packages/toast/src/Toast.ts
Labels: bug, Component: Toast, a11y, ready-for-review

#3592 fix(radio-group): onChange event not triggering on keyboard navigation
  packages/radio/src/RadioGroup.ts
  packages/radio/test/radio-group.test.ts
Labels: bug, a11y, Component: Radio

#3573 feat(action-menu): added static attribute support
  .circleci/config.yml
  packages/action-menu/src/ActionMenu.ts
  packages/action-menu/stories/action-menu.stories.ts
  packages/action-menu/stories/index.ts
  packages/action-menu/test/index.ts
  packages/overlay/README.md
Labels: Component: Action Menu, a11y

#3559 fix(menu): added support for menu item description
  .circleci/config.yml
  packages/menu/menu-item.md
  packages/menu/src/MenuItem.ts
  packages/menu/src/spectrum-config.js
  packages/menu/src/spectrum-menu-item.css
  packages/menu/stories/menu-item.stories.ts
  packages/menu/stories/menu.stories.ts
  packages/menu/test/menu-item.test.ts
Labels: enhancement, in-review

#3589 chore: enhanced robustness of table component in react runtime
  packages/table/src/Table.ts
  packages/table/test/table.test.ts
Labels: Component: Table
