Repository adobe/spectrum-web-components, pull requests merged in 2024-08, with the labels that each got.

#4638 feat: upgrade menu and dialog grid css
  packages/dialog/package.json
  packages/dialog/src/dialog.css
  packages/dialog/src/spectrum-dialog.css
  packages/menu/package.json
  packages/menu/src/spectrum-checkmark.css
  packages/menu/src/spectrum-chevron.css
  packages/menu/src/spectrum-menu-item.css
  packages/menu/src/spectrum-menu-sectionHeading.css
  packages/menu/src/spectrum-menu.css
  yarn.lock
Labels: Spectrum CSS Bug, Component: Dialog, Component: Grid

#4639 chore: upgrade netlify v17
  .circleci/config.yml
  package.json
  projects/documentation/netlify.toml
  test/visual/netlify.toml
  yarn.lock
Labels: Tooling

#4666 fix(picker): updated type for mobile and desktop
  packages/picker/src/InteractionController.ts
Labels: Component: Picker

#4578 feat(breadcrumbs): add Breadcrumbs component
  .circleci/config.yml
  packages/action-menu/src/action-menu.css
  packages/breadcrumbs/.npmignore
  packages/breadcrumbs/README.md
  packages/breadcrumbs/breadcrumb-item.md
  packages/breadcrumbs/exports.json
  packages/breadcrumbs/package.json
  packages/breadcrumbs/sp-breadcrumb-item.ts
  packages/breadcrumbs/sp-breadcrumbs.ts
  packages/breadcrumbs/src/BreadcrumbItem.ts
  packages/breadcrumbs/src/Breadcrumbs.ts
  packages/breadcrumbs/src/breadcrumb-item.css
  packages/breadcrumbs/src/breadcrumbs.css
  packages/breadcrumbs/src/index.ts
  packages/breadcrumbs/src/spectrum-breadcrumbs-item.css
  packages/breadcrumbs/src/spectrum-breadcrumbs.css
  packages/breadcrumbs/src/spectrum-config.js
  packages/breadcrumbs/stories/args.ts
  packages/breadcrumbs/stories/breadcrumbs.stories.ts
  packages/breadcrumbs/stories/template.ts
  packages/breadcrumbs/test/benchmark/basic-test.ts
  packages/breadcrumbs/test/breadcrumb-item.test.ts
  packages/breadcrumbs/test/breadcrumbs.test.ts
  packages/breadcrumbs/tsconfig.json
  packages/link/test/link.test.ts
  packages/menu/test/submenu.test.ts
  packages/overlay/src/AbstractOverlay.ts
  packages/overlay/test/index.ts
  packages/overlay/test/overlay-directive.test.ts
  packages/overlay/test/overlay-v1.test.ts
  packages/textfield/src/textfield.css
  packages/textfield/test/textfield.test.ts
  packages/top-nav/src/top-nav-item.css
  projects/documentation/content/typekit/styles.css
  projects/example-project-rollup/index.html
  tools/bundle/elements.ts
  tools/bundle/package.json
  tools/bundle/src/index.ts
  tools/bundle/tsconfig.json
  tools/reactive-controllers/test/roving-tabindex-integration.test.ts
  tools/theme/test/themes.test.ts
  tsconfig-all.json
  tsconfig-react-wrapper.json
  yarn.lock
Labels: Component: Breadcrumb
