Repository adobe/spectrum-web-components, pull requests merged in 2024-06, with the labels that each got.

#4492 fix(menu): enable numpad arrow and Enter keys
  packages/menu/src/Menu.ts
  packages/menu/test/menu.test.ts
Labels: Component: Menu

#4528 chore(search): added logic to hold search value on escape
  .circleci/config.yml
  packages/search/README.md
  packages/search/src/Search.ts
  packages/search/stories/search.stories.ts
  packages/search/test/search.test.ts
Labels: Component: Search

#4519 fix(swatch): sync `aria-label` with changes in label, color, and mixed …
  packages/swatch/src/Swatch.ts
  packages/swatch/test/swatch.test.ts
Labels: a11y, Component: Swatch

#4462 feat(combobox): add `pending` state
  .circleci/config.yml
  packages/combobox/README.md
  packages/combobox/package.json
  packages/combobox/src/Combobox.ts
  packages/combobox/src/spectrum-combobox.css
  packages/combobox/src/spectrum-config.js
  packages/combobox/stories/args.ts
  packages/combobox/stories/combobox-sizes.stories.ts
  packages/combobox/stories/combobox.stories.ts
  packages/combobox/stories/index.ts
  packages/combobox/stories/template.ts
  packages/combobox/test/combobox-a11y.test.ts
  packages/combobox/test/combobox.test.ts
  packages/combobox/test/helpers.ts
Labels: Component: Combobox

#4541 chore(card): updated demo link in card
  packages/card/README.md
Labels: Component: Card, Documentation

#4558 chore(overlay): overlay-trigger adds receives focus attribute
  .circleci/config.yml
  packages/overlay/src/OverlayTrigger.ts
  packages/overlay/stories/overlay.stories.ts
Labels: Component: Overlay, a11y

#4565 feat(number-field): add missing `--mod-*` tokens
  packages/number-field/src/number-field.css
Labels: Component: Number Field

#4571 fix(number-field): multiple separators use-cases in decimal inputs in iOS devices
  packages/number-field/src/NumberField.ts
  packages/number-field/test/number-field.test.ts
Labels: bug, Component: Number Field, iOS

#4574 chore: updated chrome-driver
  package.json
  yarn.lock
Labels: Tooling

#4473 fix: add keyboard handlers to sp-table-cell-head
  packages/table/src/TableHeadCell.ts
  packages/table/test/virtualized-table.test.ts
Labels: Component: Table, a11y
