Repository adobe/spectrum-web-components, pull requests merged in 2024-04, with the labels that each got.

#4215 fix(coachmark): add "step-count" slot for custom/internationalized pagination content
  .circleci/config.yml
  packages/coachmark/src/Coachmark.ts
  packages/coachmark/stories/coachmark.stories.ts
  packages/coachmark/test/coachmark.test.ts
Labels: enhancement, Component: Coach Mark

#4265 chore(iconset): added deprecation warning
  packages/iconset/package.json
Labels: deprecation

#4251 fix(link): added feature to stop click propagation for disabled link
  .circleci/config.yml
  packages/link/README.md
  packages/link/src/link.css
  packages/link/stories/link.stories.ts
  packages/link/test/link.test.ts
  renovate.json
Labels: bug, Component: Link

#4230 fix(theme): deprecate `theme` property for `system`
  .circleci/config.yml
  packages/overlay/stories/overlay.stories.ts
  projects/documentation/content/guides/what-is-a-theme.md
  projects/documentation/src/components/layout.ts
  projects/example-project-rollup/index.html
  projects/story-decorator/src/StoryDecorator.ts
  projects/story-decorator/src/types.ts
  test/visual/review.js
  test/visual/src/review.js
  tools/theme/core.ts
  tools/theme/src/Theme.ts
  tools/theme/src/express/core.ts
  tools/theme/stories/theme.stories.ts
  tools/theme/test/theme-devmode.test.ts
  tools/theme/test/themes.test.ts
  web-test-runner.utils.js
Labels: Component: Theme, Breaking, S2

#4284 chore: added figma design and badges addons to storybook
  package.json
  packages/action-bar/stories/action-bar.stories.ts
  packages/banner/stories/banner.stories.ts
  packages/quick-actions/stories/quick-actions.stories.ts
  packages/split-button/stories/index.ts
  packages/split-button/stories/split-button-accent-field.stories.ts
  packages/split-button/stories/split-button-accent-more.stories.ts
  packages/split-button/stories/split-button-primary-field.stories.ts
  packages/split-button/stories/split-button-primary-more.stories.ts
  packages/split-button/stories/split-button-secondary-field.stories.ts
  packages/split-button/stories/split-button-secondary-more.stories.ts
  storybook/main.js
  storybook/preview.js
  yarn.lock
Labels: enhancement

#4263 fix(number-field, slider): floating point roundoff precision bug
  packages/number-field/src/NumberField.ts
  packages/number-field/test/inputs.test.ts
  packages/slider/stories/slider.stories.ts
Labels: bug, Component: Slider, Component: Number Field
