Repository adobe/spectrum-web-components, pull requests merged in 2024-09, with the labels that each got.

#4715 fix(action-menu): dispatch scroll event
  .circleci/config.yml
  packages/action-menu/stories/action-menu.stories.ts
  packages/action-menu/test/index.ts
  packages/picker/src/Picker.ts
Labels: bug, Component: Action Menu, jira ticket created

#4738 fix(toast): now long text will wrap
  .circleci/config.yml
  packages/toast/package.json
  packages/toast/src/spectrum-toast.css
  packages/toast/stories/toast.stories.ts
  yarn.lock
Labels: Component: Toast

#4771 fix(theme): add file extension to Theme imports and respective eslint rule
  .eslintrc.json
  package.json
  tools/.eslintrc.json
  tools/theme/src/Theme.ts
  tools/theme/test/theme-devmode.test.ts
  yarn.lock
Labels: bug, jira ticket created
