Repository adobe/spectrum-web-components, pull requests merged in 2024-07, with the labels that each got.

#4588 chore: expand overlay directive docs
  packages/overlay/stories/overlay-directive.stories.ts
  packages/overlay/trigger-directive.md
  packages/tooltip/directive.md
Labels: Component: Overlay, Documentation

#4597 chore: updated api docs implementation to include attribute properties
  projects/documentation/scripts/component-template-parts.js
Labels: Documentation

#4613 fix(tabs): prevent vertical auto scroll
  .circleci/config.yml
  packages/tabs/src/Tabs.ts
  packages/tabs/stories/tabs-overflow.stories.ts
  packages/tabs/test/tabs-overflow.test.ts
Labels: Component: Tabs

#4494 fix(progress-bar): removed duplicate label
  packages/progress-bar/src/ProgressBar.ts
  packages/progress-bar/test/progress-bar.test.ts
Labels: Component: Progress Bar

#4598 chore: updated copy functionality to include element imports
  tools/base/README.md
Labels: Documentation

#4607 chore: updated jsdoc for label-only slot
  packages/action-menu/src/ActionMenu.ts
Labels: Component: Action Menu, Documentation

#4396 chore(picker): added a new interaction strategy
  packages/action-menu/src/ActionMenu.ts
  packages/action-menu/test/index.ts
  packages/menu/src/Menu.ts
  packages/picker/package.json
  packages/picker/src/DesktopController.ts
  packages/picker/src/InteractionController.ts
  packages/picker/src/MobileController.ts
  packages/picker/src/Picker.ts
  packages/picker/src/strategies.ts
  packages/picker/test/index.ts
  packages/picker/test/picker-responsive.test.ts
  packages/split-button/src/SplitButton.ts
  packages/split-button/test/index.ts
  test/plugins/send-mouse-plugin.ts
Labels: enhancement, Component: Picker

#4617 feat: add filled state to dropzone component
  .circleci/config.yml
  packages/dropzone/README.md
  packages/dropzone/src/Dropzone.ts
  packages/dropzone/src/spectrum-config.js
  packages/dropzone/src/spectrum-dropzone.css
  packages/dropzone/stories/dropzone.stories.ts
  packages/dropzone/test/dropzone.test.ts
Labels: enhancement, Component: Dropzone
