Repository adobe/spectrum-web-components, pull requests merged in 2024-02, with the labels that each got.

#3708 add lighthouse benchmark in Github Actions
  .github/lighthouse/lighthouse-config.js
  .github/lighthouse/lighthouserc.json
  .github/workflows/test.yml
Labels: Performance

#4043 fix(coachmark): updated coach-indicator css dependencies
  packages/coachmark/package.json
  packages/coachmark/src/coach-indicator.css
  packages/coachmark/src/spectrum-coach-indicator.css
  packages/coachmark/src/spectrum-coachmark.css
  yarn.lock
Labels: Component: Coach Mark, ready-for-review, Coach Indicator

#4042 chore(slider): updated handle ui to s1 design
  .circleci/config.yml
  packages/slider/src/Slider.ts
  packages/slider/stories/slider.stories.ts
Labels: Component: Slider, ready-for-review

#3799 chore: add GH action updates to dependabot
  .github/dependabot.yml
Labels: Tooling, ready-for-review

#3798 chore: add storybook, commitlint, and eleventy groupings to dependabot
  .github/dependabot.yml
Labels: Tooling, ready-for-review

#4083 fix: version bump of chrome driver to fix install issue
  package.json
  yarn.lock
Labels: bug

#3870 fix(color-field): add color-field package
  .circleci/config.yml
  packages/color-field/.npmignore
  packages/color-field/README.md
  packages/color-field/exports.json
  packages/color-field/package.json
  packages/color-field/sp-color-field.ts
  packages/color-field/src/ColorField.ts
  packages/color-field/src/index.ts
  packages/color-field/stories/args.ts
  packages/color-field/stories/color-field-sizes.stories.ts
  packages/color-field/stories/color-field.stories.ts
  packages/color-field/stories/template.ts
  packages/color-field/test/benchmark/basic-test.ts
  packages/color-field/test/color-field.test.ts
  packages/color-field/tsconfig.json
  tools/bundle/elements.ts
  tools/bundle/src/index.ts
  tools/bundle/tsconfig.json
Labels: Component: Color-Field

#3704 fix(picker): picker-quiet-layout
  .circleci/config.yml
  packages/field-label/src/FieldLabel.ts
  packages/picker/README.md
  packages/picker/package.json
  packages/picker/src/Picker.ts
  packages/picker/src/spectrum-config.js
  packages/picker/src/spectrum-picker.css
  packages/picker/stories/picker.stories.ts
  packages/picker/tsconfig.json
  projects/story-decorator/src/StoryDecorator.ts
Labels: Component: Picker, Component: Styles, ready-for-review
