Repository adobe/spectrum-web-components, pull requests merged in 2024-03, with the labels that each got.

#4105 chore(split-button): initiate deprecation notice
  package.json
  packages/split-button/package.json
  packages/split-button/src/SplitButton.ts
  projects/documentation/content/_includes/component.njk
  projects/documentation/content/_includes/partials/deprecation.njk
  projects/documentation/scripts/copy-component-docs.js
  projects/documentation/src/components/inline-alert.css
  projects/documentation/src/components/styles.css
Labels: Component: Split Button, deprecation

#3991 fix(slider): double click on slider handle to reset slider position
  .circleci/config.yml
  packages/overlay/stories/overlay.stories.ts
  packages/slider/README.md
  packages/slider/src/HandleController.ts
  packages/slider/src/Slider.ts
  packages/slider/src/SliderHandle.ts
  packages/slider/src/slider.css
  packages/slider/stories/slider.stories.ts
  packages/slider/test/index.ts
  packages/slider/test/slider.test.ts
Labels: Component: Slider

#4149 fix(coachmark): updated api docs
  packages/coachmark/README.md
  packages/coachmark/src/Coachmark.ts
Labels: Documentation, Component: Coach Mark

#4141 fix(color-field): added missing dependencies
  packages/color-field/package.json
  tools/bundle/package.json
Labels: dependencies

#4162 docs(badge): updated non semantics docs for mod override
  .circleci/config.yml
  packages/badge/README.md
  packages/badge/src/Badge.ts
  packages/badge/src/spectrum-badge.css
  packages/badge/src/spectrum-config.js
  packages/badge/stories/badge.stories.ts
Labels: Documentation, Components: Badge

#3110 fix(picker): add loading state to the picker
  .circleci/config.yml
  RELEASE_PROCESS.md
  packages/overlay/stories/overlay.stories.ts
  packages/picker/README.md
  packages/picker/package.json
  packages/picker/src/Picker.ts
  packages/picker/src/picker.css
  packages/picker/src/spectrum-config.js
  packages/picker/src/spectrum-picker.css
  packages/picker/stories/args.ts
  packages/picker/stories/picker-pending.stories.ts
  packages/picker/stories/picker-sizes.stories.ts
  packages/picker/stories/picker.stories.ts
  packages/picker/stories/template.ts
  packages/picker/test/index.ts
Labels: Component: Picker

#4158 docs(dropzone): demonstrate how to announce items added to dropzone
  .circleci/config.yml
  packages/dropzone/README.md
  packages/dropzone/stories/dropzone.stories.ts
Labels: Component: Dropzone, a11y

#4179 deprecation: color lightest and darkest
  packages/banner/package.json
  packages/quick-actions/package.json
  packages/split-button/package.json
  projects/documentation/content/_includes/partials/deprecation.njk
  projects/documentation/scripts/copy-component-docs.js
  tools/theme/package.json
  tools/theme/src/Theme.ts
Labels: deprecation

#4208 chore: add deprecation.md for the project
  .github/images/red-warning.png
  .github/images/yellow-warning.png
  projects/documentation/content/_includes/deprecation.njk
  projects/documentation/content/_includes/partials/sidenav.njk
  projects/documentation/content/deprecation.md
Labels: deprecation
